[% WRAPPER wrapper.tt2 %]
<div id="topbar">
    <h1><span id="appname">ParlAPI.ca</span></h1>
</div>
<div id="mainbar">
  <h2>What is this?</h2>
    <p>
      This site mirrors the content available on <a href="http://parl.gc.ca">parl.gc.ca</a> and <i>re-represents</i> the data using 
      modern web techniques to provide a simple interface for subsequent re-use.  Ideally this interface would be provided by the
      House of Commons directly and this site could go away.  This site is considered as an experiment by it's <a href="http://twitter.com/lukec">author</a>.
    </p>
    <p>
      All of the Parliamentary content on this site should <strong>not be considered official</strong>, and used with respect according to
      the <a href="http://parl.gc.ca/information/about/copyright/permission_hoc.asp">Speakers Permission</a> and in accordance with <a href="http://parl.gc.ca/information/about/copyright/terms_Conditions.asp?Language=E">Parliamentary Copyright and Privilege</a>.  The software
      that runs this site is released as <a href="http://github.com/lukec/parlapi">Open Source Software</a>.
    </p>

    <p>
      Many Canadian citizens have wasted time scraping information from Parl.gc.ca because the data they need is not readily available 
      through the existing APIs. This site aims to build a simple API for these needs so that citizens can spend that time on building 
      innovative applications to further our democracy.
    </p>

    <p>Please send any feedback to: <pre>parlapi atsign 5thplane.com</pre></p>

  <h2>Resources</h2>
  <ul>
  <!--
    <li><a href="/members">Members</a></li>
    <li><a href="/votes">Votes</a></li>
    -->
    <li><a href="/members">Members of Parliament</a></li>
    <li><a href="/bills">House of Commons Bills</a></li>
    <li>Votes</li>
  </ul>
</div>
[% END %]
