[% WRAPPER wrapper.tt2 %]
  <h2>House of Commons Votes - [% bill_vote.name %] ([% vote %])</h2>
  <strong>Name:</strong> [% bill.name %]<br />
  <strong>Parliament:</strong> <a href="[% parliament.url %]">[%
      parliament.name %]</a><br />
  <strong>Summary:</strong> [% bill.summary %]<br />
  <strong>Sponsor title:</strong> [% bill.sponsor_title %]<br />
  [% IF bill.sponsor %]
    <strong>Sponsor:</strong><a href="/members/[% bill.sponsor.member_id %]">[% bill.sponsor.name %]</a> (<a href="[% bill.sponsor.member_url %]">Official</a>)<br />
  [% ELSIF bill.sponsor_id %]
  <strong>Sponsor ID:</strong>
    <a href="http://webinfo.parl.gc.ca/MembersOfParliament/ProfileMP.aspx?Key=[% bill.sponsor_id %]&Language=E">[% bill.sponsor_id %]</a><br />
  [% END %]
  <strong>Vote on:</strong> <a href="[% parliament.url %]/votes/[% bill_vote.bill_vote_id %]">[% bill_vote.nice_date %]</a><br />
  <hr />
  <h3>Votes: [% vote %]</h3>
  [% IF members.size %]
      <ul>
      [% FOREACH m IN members %]
        <li><a href="[% parliament.url %]/members/[% m.member_id %]">[% m.name %]</a></li>
      [% END %]
      </ul>
  [% ELSE %]
    None.
  [% END %]
  <br />
  <a href="[% parliament.url %]/votes">Back to vote list</a>
[% END %]
